@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/inter.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;

    background-color: rgb(14, 14, 14);
}

a {
    color: rgb(38, 130, 235);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: white;
    margin-bottom: 0;
}

h2 {
    color: rgb(160, 160, 160);
    margin: 0 0 6rem;
}

* {
    box-sizing: border-box;
}
